/*Typography*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Lora');
body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    opacity: 0.7;
}
.font-lora {
    font-family: 'Lora', serif;
}
.font32 {
    font-size: 32px;
}
.font20 {
    font-size: 20px;
}
.font22 {
    font-size: 22px;
}
.font_bold {
    font-weight: bold;
}
.color_black {
    color: #000;
}
.color_white {
    color: #fff;
}
.font18 {
    font-size: 18px;
}
.font14 {
    font-size: 14px;
}
.font16 {
    font-size: 16px;
}
.bg-white {
    background-color: #fff;
}
.bg-blue {
    background-color: #2f73e4;
}
.bg-black {
    background-color: #212121;
}
footer {
    padding: 40px 0;
}
.head_left_underline:after {
    display: block;
    content: "";
    margin-top: 3px;
}
h1 {
    font-size: 34px;
    color: #222;
    line-height: 1.24;
    font-weight: 400;
    margin: 14px 0 19px 0;
}
h2 {
    color: #222222;
    line-height: 1.4;
    font-weight: 400;
}
h3 {
    color: #222;
    line-height: 1.33;
    font-weight: 400;
    margin: 12px 0 14px 0;
}
form {
    margin-bottom: 0;
}
.default_btn {
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 28px;
    font-weight: 500;
}
hr {
    border-top: 1px solid #d8d8d8;
    margin: 17px 0 16px 0;
}
p {
    font-size: 18px;
    color: #5c5c5c;
    line-height: 1.56;
}
.m-b-0 {
    margin-bottom: 0;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-t-60 {
    margin-top: 60px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-22 {
    margin-top: 22px;
}
.m-t-20 {
    margin-top: 20px;
}
.float-left {
    float: left;
}
.p-l-10 {
    padding-left: 10px;
}
.color_81 {
    color: #818181;
}
.color_5c {
    color: #5c5c5c;
}
.color_81 {
    color: #818181;
}
.m-t-65 {
    margin-top: 65px;
}
.color_yellow:after {
    border-top: 3px solid #edd30d;
    width: 65px;
}
.color_orange:after {
    border-top: 3px solid #f26c60;
    width: 64px;
}
.color_blue:after {
    border-top: 3px solid #60bcf2;
    width: 48px;
}
.color_pink:after {
    border-top: 3px solid #f260a4;
    width: 65px;
}
/*Header*/

.toggle_custom {
    border: none;
    display: block;
    background-color: transparent;
    float: left;
    margin-top: 23px;
}
.toggle_icon {
    width: 30px !important;
    height: 1.8px !important;
    border: 1.8px solid #000;
}
.navbar-toggle .toggle_icon+.toggle_icon {
    margin-top: 6px !important;
}
.navbar_custom {
    background-color: #fff;
    border-color: transparent;
    min-height: 89px;
}
.logo_align {
    margin-left: -25px !important;
    color: #000 !important;
    padding: 33px 15px !important;
}
.search_icon {
    position: absolute;
    right: 30px;
    top: 30px;
}
.box-content {
    padding: 31px 30px;
    overflow: hidden;
}
.science_tag {
    letter-spacing: 2px;
}
span {
    font-size: 14px;
    font-weight: 300;
    color: #3d3d3d;
}
.business_section {
    padding: 14px 15px 27px 20px;
}
.default_ls {
    letter-spacing: 1px;
}
.box_decorate {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.news_headline {
    font-size: 22px;
    color: #222222;
    line-height: 1.45;
    margin: 10px 0 10px 0;
}
.newsletter_section {
    padding: 23px 36px 34px 36px;
}
.newsletter_section p {
    line-height: 1.4;
}
.text_box {
    height: 37px;
    margin-top: 21px;
    margin-bottom: 25px;
}
.must_read_section {
    background-image: url(../images/must_reads1.jpg);
    padding: 40px 0 60px 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.must_read_section a {
    letter-spacing: 2px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
}
.next-slide,
.previous-slide {
    z-index: 9999;
    position: absolute;
    top: 30%;
}
.next-slide {
    right: 0;
}
.edit_display1 {
    padding-right: 0;
}
.edit_display_content1 {
    padding-left: 0;
}
.color_large_blue:after {
    border-top: 4px solid #60bcf2;
    width: 103px;
}
.color_large_pink:after {
    border-top: 4px solid #f260a4;
    width: 213px;
}
.politics_section {
    position: absolute;
    bottom: 5px;
    left: 20px;
    padding: 20px;
}
.politics_box {
    padding: 17px 15px 22px 20px;
    background-color: #fff;
}
.food_section div {
    padding: 13px 16px 17px 16px;
}
.food_section2 {
    padding: 20px 24px 17px 30px;
}
.color_white a,
.color_white span {
    color: #fff;
}
.edit_display {
    padding-right: 0;
}
.edit_display_content {
    padding-left: 0;
}
/*Media Queries*/

@media only screen and (max-width: 992px) {
    .font18 {
        font-size: 12px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 12px;
    }
    span {
        font-size: 10px;
    }
    .font14 {
        font-size: 12px;
    }
    .font16 {
        font-size: 12px;
    }
    .font22 {
        font-size: 14px;
    }
    .navbar {
        margin-bottom: 0;
    }
    .font32 {
        font-size: 22px;
    }
    .content_align {
        padding-left: 0;
        padding-right: 0;
    }
    .m-t-50 {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 480px) {
    .font18 {
        font-size: 16px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 26px;
    }
    p {
        font-size: 16px;
    }
    span {
        font-size: 14px;
    }
    .font14 {
        font-size: 16px;
    }
    h3 {
        font-size: 26px;
    }
    .font16 {
        font-size: 16px;
    }
    .story_font {
        font-size: 11px;
    }
    .story_heading {
        font-size: 14px;
    }
    .story_author {
        font-size: 12px;
    }
    .story_update {
        font-size: 10px;
    }
    .text_center {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 992px) {
    .edit_display1 {
        padding-right: 0;
    }
    .edit_display_content1 {
        padding-left: 0;
    }
}